.container {
  input {
    width: 300px;
    line-height: 40px;
    outline: none;
    font-size: 20px;
  }
  .text {
    width: 300px;
    margin: 20px 0;
    word-break: break-all;
    line-height: 20px;
  }
}
