.container {
  width: 70vw;
  margin: 50px auto;
  height: auto;
  background-color: rgb(169, 255, 206);
  padding: 30px;
  border-radius: 12px;
  h1 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 0 30px 30px;
  }
}
